body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primary: #ab092f;
  --secondary: #002a5f;
  --white: aliceblue;
  --margin-xxl: 84px;
  --margin-xl: 52px;
  --margin-lg: 32px;
  --margin-md: 20px;
  --margin-sm: 13px;
  --margin-xs: 8px;
}
